<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922026563911-f8n73t3qn66r00491bmpii60ua6ivtti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922026563911-f8n73t3qn66r00491bmpii60ua6ivtti</string>
	<key>API_KEY</key>
	<string>AIzaSyBbIRRDeolbZHNmEOoS-A8VtUPRBQutMaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>922026563911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vedasjad.munchmate.munchmate</string>
	<key>PROJECT_ID</key>
	<string>munchmate-9ad84</string>
	<key>STORAGE_BUCKET</key>
	<string>munchmate-9ad84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922026563911:ios:689da8aab74aa416ab9462</string>
</dict>
</plist>